<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="margin: 0; padding: 0; font-family: 'Arial', sans-serif; background-color: rgb(233, 233, 233); color: rgb(52, 52, 52); line-height: 1.6; text-align: center;">

    <div style="max-width: 600px; margin: 40px auto; background-color: rgb(242, 242, 242); border: 1px solid rgb(209, 209, 209); border-radius: 12px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); overflow: hidden; padding: 20px;">
        <div style="text-align: center; margin-bottom: 20px;">
            <h1 style="font-size: 28px; color: rgb(105, 159, 45); margin: 0;">Welcome to my Newsletter!</h1>
            <p style="font-size: 16px; color: rgb(52, 52, 52); margin: 10px 0;">I'm glad knowing you wanna receive updates on new images.</p>
        </div>
        <div style="text-align: center; margin: 20px 0;">
            <img src="https://photo.parndt.de/favicon.png" alt="Photo Parndt Logo" style="max-width: 100%; border-radius: 8px; height: auto;">
        </div>
        <div style="padding: 20px; font-size: 16px; line-height: 1.8;">
            <p style="margin-bottom: 1.5em;">Thank you for subscribing. You will now receive updates on newly uploaded images.</p>
            <p style="margin-bottom: 1.5em;">Stay tuned for our upcoming photos and feel free to reach out with any feedback!</p>
        </div>
        <div style="text-align: center; margin: 20px 0;">
            <a href="https://photo.parndt.de" style="background-color: rgb(105, 159, 45); color: white; text-decoration: none; padding: 15px 25px; border-radius: 5px; font-weight: bold; display: inline-block; transition: background-color 0.3s ease;">Photo Parndt</a>
        </div>
        <div style="background-color: rgb(104, 104, 104); color: white; text-align: center; padding: 15px; font-size: 14px; border-top: 1px solid rgb(209, 209, 209);">
            <p style="margin: 0;">If you have any questions, don't hesitate to <a href="https://photo.parndt.de/contact" style="color: rgb(181, 194, 61); text-decoration: none; font-weight: bold;">contact us</a>.</p>
            <div style="margin-top: 20px; font-size: 14px;">
                <p><a href="{{unsubscribeLink}}" style="color: rgb(105, 159, 45); text-decoration: none;">Unsubscribe</a> from this newsletter.</p>
            </div>
        </div>
    </div>
</body>

</html>
