@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Primary Color */
		--color-primary: 105 159 45;
		--color-secondary: 181 194 61;
		--color-text: 52 52 52;
		--color-bg: 233 233 233;
		--color-bg-secondary: 242 242 242;
		--color-bg-overlay: 104 104 104;
		--color-border: 209 209 209;
	}

	/* If the user switches to dark mode */
	:root[class~='dark'] {
		--color-primary: 66 100 28;
		--color-secondary: 113 121 38;
		--color-text: 245 245 245;
		--color-bg: 39 39 39;
		--color-bg-secondary: 51 51 51;
		--color-border: 68 68 68;
	}

	html,
	body {
		@apply bg-bg text-text;
	}

	button {
		/* @apply px-4 py-2 rounded border-border bg-transparent font-medium; */
		@apply btn;
	}

	input {
		@apply rounded-md border border-border bg-bg-secondary px-4 py-2 text-text;
	}
}

/* @layer utilities {
	.btn {
		@apply rounded-md bg-primary px-4 py-2 font-semibold text-white transition-colors duration-300 ease-in-out;
		@apply hover:bg-secondary;
		@apply active:bg-secondary disabled:cursor-not-allowed disabled:opacity-50;
	}
} */
/* Tailwind CSS */
@layer utilities {
	.btn {
		@apply rounded-full px-6 py-3 font-semibold text-white transition-transform duration-300 ease-in-out;
		@apply hover:scale-105 hover:bg-secondary;
		@apply active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
		@apply flex items-center border-white !bg-transparent text-sm transition-colors duration-300 hover:!bg-white hover:text-black md:text-lg;
	}
}
